// Global players
.main_box {
  background-color: $bg;
  font-family: "JetBrains Mono SemiBold";
  font-size: 16px;
  border-radius: 8px;
  padding: 1px 8px;
}

.container_box {
  margin: 5px;
  padding: 0px 6px;
  border-radius: 8px;
  background-color: $bg_blend;
}

.floating_box {
  padding: 0px 2px;
}

// Organs of the taskbar
@import "./left_box.scss";
@import "./center_box.scss";
@import "./right_box.scss";
