//               __
//   _________  / /___  __________
//  / ___/ __ \/ / __ \/ ___/ ___/
// / /__/ /_/ / / /_/ / /  (__  )
// \___/\____/_/\____/_/  /____/
//

$fg_blend: #546099;
$bg: #1a1b26;
$bg_blend: #282e49;
$black: #313244;
$red: #ce7284;
$green: #7dc5a0;
$yellow: #caaa6a;
$pink: #c386c0;
$blue: #80a8fd;
$purple: #cba6f7;
$cyan: #7bc5e4;
$white: #cdd6f4;
