@theme "~/.config/rofi/config.rasi"

configuration{
    font: "Font Awesome 6 Pro Solid 18";
    sidebar-mode: false;
}

window {
        height: 50%;
    }

listview {
    columns: 1;
    margin: 10 25 10 25;
}

entry {
    font: "JetBrainsMono Nerd Font Medium 14";
    }

element-text {
        margin: 5 5 5 15;
        font: "JetBrainsMono Nerd Font Medium 12";
    }

message {
    margin: 10 0 0 0;
    background-color: @bg-col;
    }

textbox {
    background-color: @bg-col;
    margin: 5 0 5 0;
    horizontal-align: 0.5;
    text-color: @red;
    font: "JetBrainsMono Nerd Font Medium 14";
    }
