.calendar_box {
  background-color: $bg;
  color: $fg_blend;
  font-size: 18px;
  border-radius: 8px;
}

.calendar_bar {
  @extend .iosevka;
  background-color: $bg_blend;
  padding: 5px;
  margin: 10px 10px 8px 10px;
  border-radius: 8px;
}

.calendar_date {
  font-weight: 600;
  padding: 0px 5px;
  color: $fg_blend;
}

.calendar_day {
  font-size: 22px;
  font-weight: 700;
  padding: 0px 5px;
  color: $blue;
}

.calendar_icon {
  @extend .awesome_regular;
  font-size: 26px;
  padding: 0px 5px;
}

calendar {
  @extend .jetbrains;
  color: $fg_blend;
  padding: 10px;
  padding-top: 0px;
  &:selected {
    color: $blue;
    border-radius: 8px;
  }

  &:indeterminate {
    color: $bg_blend;
  }
}
