.notif_bell {
  font-family: "Phosphor";
  font-size: 25px;
  padding: 0px 0px;
}

.notif_icon {
  color: $yellow;
}

.notif_icon_off {
  color: $fg_blend;
}

.bat_bound {
  padding: 0px 2px;
}

.bat_icon {
  @extend .bat_text;
  font-size: 28px;
}

.bat_text {
  padding: 0px 0px 0px 8px;
  color: $green;
}

.date {
  color: $cyan;
}

.date {
  color: $cyan;
}

.system_tray {
  color: $cyan;
  padding: 0px 0px 0px 8px;
  font-size: 25px;
}
